<div>
    <div class="form-bg">
        <div class="container">
            <div class="row" style="justify-content: center;">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        <h3 class="title">My Account</h3>
                        <form class="form-horizontal" (submit)="onLogin(); $event.preventDefault()">
                            <div class="form-icon">
                                <i class="fa fa-user-circle"></i>
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-user"></i></span>
                                <input type="email" class="form-control" placeholder="Username" [(ngModel)]="email" name="email" required>
                            </div>
                            <div class="form-group">
                                <span class="input-icon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" placeholder="Password" [(ngModel)]="password" name="password" required>
                                <span class="forgot"><a href="#">Forgot Password?</a></span>
                            </div>
                            <button type="submit" class="btn signin">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>