.inner-content {
    background-color: #ececec;
    height: 93vh;
}

.feedback-btn {
    padding: 2px 8px;
    background-color: #AEE8F5;
    border-color: #AEE8F5;
    color: #0072bc;
}

.icon-btn {
    display: flex;
    justify-content: center;
    padding: 0.375rem 0.5rem;
}

.icon-btn::after {
    display: none;
}