<div>
    <p-table>
        <ng-template #header>
            <tr>
                <th colspan="5"><h4>Campaigns</h4></th>
                <th colspan="5" style="text-align: end;"><button>New Campaign</button></th>
            </tr>
            <tr>
                <th>
                    <p-multiselect display="chip" placeholder="Choose Columns" />
                </th>
                <th>
                    <p-multiselect display="chip" placeholder="Choose Columns" />
                </th>
                <th>
                    <p-iconfield>
                        <p-inputicon styleClass="pi pi-search" />
                        <input type="text" pInputText placeholder="Search"/>
                    </p-iconfield>
                </th>
            </tr>
            <tr>
                <th>ID</th>
                <th>CAMPAIGN NAME</th>
                <th>STATUS</th>
                <th>START DATE</th>
                <th>END DATE</th>
                <th>BUDGET DELIVERED</th>
                <th>IMPRESSIONS</th>
                <th>VIEWS</th>
                <th>REACH</th>
                <th>CLICKS</th>
            </tr>
        </ng-template>
        <ng-template>
            <tr>
                <!-- <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td> -->
            </tr>
        </ng-template>
    </p-table>
</div>