<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs justify-content-center">
    @for (route of routes; track $index) {
        <li [ngbNavItem]="{{$index + 1}}" class="nav-item">
            <button ngbNavLink routerLink="{{ route.path }}">{{route.name}}</button>
            <ng-template ngbNavContent>{{route.template}}</ng-template>
        </li>
    }
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #campaignsTpl> Campaigns Pending. </ng-template>
<ng-template #reportsTpl><app-reports></app-reports></ng-template>
<ng-template #dataManagementTpl><app-data-management></app-data-management></ng-template>
<ng-template #eventsManagerTpl> Events Manager Pending. </ng-template>