<app-success-fail-toast aria-live="polite" aria-atomic="true"></app-success-fail-toast>
<div style="padding: 2rem;">
    <ng-template #failedTpl> Failed to upload file. </ng-template>
    <div class="campaign-outline">
        <div class="row title">
            <div class="col-8">
                <h5 class="m-0">Campaigns</h5>
            </div>
            <div class="col" style="text-align: end;">
                <button class="btn_primary" (click)="newCampaign()">New Campaign</button>
            </div>
        </div>
        <div class="row dropdown-border">
            <div class="col">
                <p-dropdown [options]="statusOptions" placeholder="Status" [(ngModel)]="selectedStatus" (onChange)="filterTable()"></p-dropdown>
                <p-dropdown [options]="campaignObjective" placeholder="Campaign Objective" [(ngModel)]="selectedObjective" (onChange)="filterTable()"></p-dropdown>
            </div>
            <!-- <div class="d-flex gap-2 datepickerrange">
                <div>
                    <div class="dp-hidden position-absolute">
                        <div class="input-group">
                            <input name="datepicker" ngbDatepicker #datepicker="ngbDatepicker"
                                [autoClose]="'outside'" (dateSelect)="onDateSelection($event)" [displayMonths]="2"
                                [dayTemplate]="t" outsideDays="hidden" [startDate]="fromDate!" tabindex="-1" />
                            <ng-template #t let-date let-focused="focused">
                                <span class="custom-day" [class.focused]="focused" [class.range]="isRange(date)"
                                    [class.faded]="isHovered(date) || isInside(date)" (mouseenter)="hoveredDate = date"
                                    (mouseleave)="hoveredDate = null">
                                    {{ date.day }}
                                </span>
                            </ng-template>
                        </div>
                    </div>
                    <div class="input-group">
                        <input #dpFromDate placeholder="yyyy-mm-dd" (input)="validateInput($event, 'FROM')" [(ngModel)]="fromDateStr" class="date-field" />
                        <button class="btn btn-outline-secondary d-flex align-items-center" (click)="datepicker.toggle()" type="button">
                            <ng-icon name="bootstrapCalendar3" class="icon"></ng-icon></button>
                    </div>
                </div>
                <div>
                    <div class="input-group">
                        <input #dpToDate placeholder="yyyy-mm-dd" (input)="validateInput($event, 'TO')" [(ngModel)]="toDateStr" class="date-field" />
                        <button class="btn btn-outline-secondary d-flex align-items-center" (click)="datepicker.toggle()" type="button">
                            <ng-icon name="bootstrapCalendar3" class="icon"></ng-icon></button>
                    </div>
                </div>
                <div class="d-flex gap-2">
                    <button class="btn_primary search-button" (click)="filterByDate()"><ng-icon name="bootstrapSearch" class="icon"></ng-icon></button>
                    <button class="icon-btn-secondary" (click)="clearFilter()"><ng-icon name="bootstrapXLg" class="icon"></ng-icon></button>
                </div>
            </div> -->
            <div class="col" class="searchInput col">
                <p-iconfield>
                    <p-inputicon styleClass="pi pi-search" />
                    <input type="text" pInputText placeholder="Search" [(ngModel)]="searchText" (input)="filterTable()"/>
                </p-iconfield>
            </div>
        </div>
        <p-table #dt [value]="filteredData" [paginator]="true" [rows]="10" dataKey="newField" [tableStyle]="">
            <ng-template pTemplate="header">
                <tr>
                    <th style="min-width: 6rem;"></th>
                    <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                    <th>CAMPAIGN NAME</th>
                    <th style="border-right: 1px solid #c8c8c8; border-right-width: 2px;"></th>
                    <th>STATUS</th>
                    <th>START DATE</th>
                    <th>END DATE</th>
                    <th>BUDGET DELIVERED</th>
                    <th>IMPRESSIONS</th>
                    <th>VIEWS</th>
                    <th>REACH</th>
                    <th>CLICKS</th>
                </tr>
            </ng-template>
            <ng-template #body let-campaign let-expanded="expanded">
                <tr>
                    <td>
                        <p-button type="button" pRipple [pRowToggler]="campaign" [text]="true" [rounded]="true"
                            [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                        <p-tableCheckbox [value]="campaign" class="campaignCheckbox" />
                    </td>
                    <td>{{ campaign.campaignId }}</td>
                    <td>{{ campaign.newField }} - {{campaign.campaignSubText}} <br>
                        {{ campaign.campaignSubText}} | {{ campaign.client}}
                    </td>
                    <td style="border-right: 1px solid #c8c8c8; border-right-width: 2px;"></td>
                    <td class="text-center">
                        <p-tag [value]="campaign.status" [severity]="getTagSeverity(campaign.status)"></p-tag>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <p class="m-0">{{ campaign.earliestStartDate | date: 'dd MMM yyyy' }} <br> 00:00</p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                            <p class="m-0">{{ campaign.latestEndDate | date: 'dd MMM yyyy' }} <br> 23:59</p>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex justify-content-center">
                        <div class="d-flex flex-column">
                            {{ campaign.sumSpent | number:'1.2-2' }} MYR
                            <progress [value]="campaign.progressValue" max="100" style="background-color: #00bfff; background: #00bfff; color: #00bfff; height: 5px; gap: 3px;"></progress>
                            {{ campaign.sumBudget | number:'1.2-2' }} MYR
                        </div>
                        </div>
                    </td>
                    <td class="text-end">{{ campaign.sumImpressions | number }}</td>
                    <td class="text-end">{{ campaign.sumView | number }}</td>
                    <td class="text-end">{{ campaign.sumReach | number }}</td>
                    <td class="text-end">{{ campaign.sumClicks | number }}</td>
                </tr>
            </ng-template>
            <ng-template #expandedrow let-data>
                <tr *ngFor="let sub of data.subCampaign">
                    <td></td>
                    <td><i class="pi pi-chevron-right"></i><p-tableCheckbox class="subCampaignCheckbox" /></td>
                    <td>
                        {{ sub.subCampaign }} / {{sub.subCampaignSubText}} <br>
                        Order
                    </td>
                    <td style="border-right: 1px solid #c8c8c8; border-right-width: 2px;">
                        <p-menu #menu [popup]="true" [model]="sub.menuItems" [appendTo]="'body'"></p-menu>
                        <i class="pi pi-ellipsis-v" (click)="onMenuClick($event, sub, menu)"></i>
                    </td>
                    <td class="text-center">
                        <p-tag [value]="sub.status" [severity]="getTagSeverity(sub.status)"></p-tag>
                    </td>
                    <td class="text-center">{{ sub.startDate | date: 'dd MMM yyyy' }}</td>
                    <td class="text-center">{{ sub.endDate | date: 'dd MMM yyyy' }}</td>
                    <td style="padding-left: 2.5rem;">{{ sub.budget | number:'1.2-2' }} MYR</td>
                    <td class="text-end">{{ sub.impressions | number }}</td>
                    <td class="text-end">{{ sub.views | number }}</td>
                    <td class="text-end">{{ sub.reach | number }}</td>
                    <td class="text-end">{{ sub.clicks | number }}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>