@import "primeicons/primeicons.css";

::ng-deep .p-datatable-table {
  border: 1px solid #e2e8f0;

  td {
    white-space: nowrap;
  }
}

::ng-deep .p-select {
  margin-left: 2rem;
  background-color: transparent !important;
}

::ng-deep .p-select-overlay {
  background-color: transparent !important;
}

::ng-deep .p-inputtext {
  background-color: transparent !important;
}

::ng-deep .p-button-icon-only {
  color: gray !important;
}

::ng-deep .p-checkbox-box {
  background-color: transparent !important;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted
{
  background-color: transparent !important;
  color: inherit !important;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted :focus,
::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted :hover
{
  background-color: transparent !important;
  color: inherit !important;
}

::ng-deep .p-datatable-thead > tr > th
{
  white-space: nowrap;
}

::ng-deep .p-datatable-thead > tr > th {
  background-color: transparent !important;
  color: black !important;
}

::ng-deep .p-datatable-tbody > tr {
  background-color: transparent !important;
  color: black !important;
}

.subCampaignCheckbox {
  bottom: 3px;
  position: relative;
  padding-left: 1rem;
}

.campaignCheckbox {
  bottom: 10px;
  position: relative;
}

.searchInput {
  justify-content: end;
  display: flex;
  margin-right: 0.5rem;
}

.btn_newCampaign {
  background-color: #0072bc;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  border: none;
  padding: 5px 20px;

  &:hover {
    background-color: #005e9a;
  }
}

.pi-ellipsis-v {
  cursor: pointer;
}

::ng-deep th:nth-child(n+5):nth-child(-n+11) {
  position: relative;
}

::ng-deep th:nth-child(n+5):nth-child(-n+11)::after {
  content: "";
  position: absolute;
  top: 25%;   /* Space from the top */
  bottom: 25%; /* Space from the bottom */
  right: 0;
  width: 1px;
  background-color: #e2e8f0; /* Line color */
}

::ng-deep th:nth-child(11)::after {
  content: none;
}

.campaign-outline {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

.title {
  border-bottom: 1px solid #c8c8c8;
  margin-right: 1px;
  margin-left: 1px;
  padding: 1rem;
}

.dropdown-border {
  padding: 0.5rem;
  border-bottom: 1px solid #c8c8c8;
  margin-left: 1px;
  margin-right: 1px;
}