<div>
    <div class="row p-3">
        <div class="col-8">
            <h4>Campaigns</h4>
        </div>
        <div class="col" style="text-align: end;">
            <button class="btn_newCampaign" (click)="newCampaign()">New Campaign</button>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col">
            <p-dropdown [options]="statusOptions" placeholder="Status" [(ngModel)]="selectedStatus" (onChange)="filterTable()"></p-dropdown>
            <p-dropdown [options]="campaignObjective" placeholder="Campaign Objective"></p-dropdown>
        </div>
        <div class="col" class="searchInput col">
            <p-iconfield>
                <p-inputicon styleClass="pi pi-search" />
                <input type="text" pInputText placeholder="Search" />
            </p-iconfield>
        </div>
    </div>
    <p-table #dt [value]="filteredData" [paginator]="true" [rows]="10" dataKey="id">
        <ng-template pTemplate="header">
            <tr>
                <th></th>
                <th pSortableColumn="id">ID <p-sortIcon field="id" /></th>
                <th>CAMPAIGN NAME</th>
                <th style="border-right: 1px solid #e2e8f0;"></th>
                <th>STATUS</th>
                <th>START DATE</th>
                <th>END DATE</th>
                <th>BUDGET DELIVERED</th>
                <th>IMPRESSIONS</th>
                <th>VIEWS</th>
                <th>REACH</th>
                <th>CLICKS</th>
            </tr>
        </ng-template>
        <ng-template #body let-campaign let-expanded="expanded">
            <tr>
                <td>
                    <p-button type="button" pRipple [pRowToggler]="campaign" [text]="true" [rounded]="true"
                        [plain]="true" [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'" />
                    <p-tableCheckbox [value]="campaign" class="campaignCheckbox" />
                </td>
                <td>{{ campaign.id }}</td>
                <td>{{ campaign.investmentName }}</td>
                <td style="border-right: 1px solid #e2e8f0;">
                    <p-menu #menu [popup]="true" [model]="getMenuItems(campaign)" [appendTo]="'body'"></p-menu>
                    <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                </td>
                <td>
                    <p-tag [value]="campaign.status" [severity]="getTagSeverity(campaign.status)"></p-tag>
                </td>
                <td></td>
                <td>{{campaign.endDate}}</td>
            </tr>
        </ng-template>
        <ng-template #expandedrow let-data>
            <tr *ngFor="let campaign of data.campaigns">
                <td></td>
                <td><i class="pi pi-chevron-right"></i><p-tableCheckbox class="subCampaignCheckbox" /></td>
                <td>
                    {{ campaign.name }}
                </td>
                <td style="border-right: 1px solid #e2e8f0;">
                    <p-menu #menu [popup]="true" [model]="getMenuItems(campaign)" [appendTo]="'body'"></p-menu>
                    <i class="pi pi-ellipsis-v" (click)="menu.toggle($event)"></i>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>