<div class="p-3">
    <h4>Profile</h4>
    <form #userForm="ngForm">
        <div class="form-group mt-3">
          <label for="email">Email</label>
          <input id="email" type="email" class="form-control mt-1" [(ngModel)]="userData.email" name="email" disabled />
        </div>
      
        <div class="form-group mt-3">
          <label for="password">Password</label>
          <div class="input-group mt-1">
            <input
              id="password"
              [type]="isPasswordVisible ? 'text' : 'password'"
              class="form-control"
              [(ngModel)]="userData.password"
              name="password"
            />
            <div class="input-group-append ml-2">
              <span class="input-group-text" (click)="togglePasswordVisibility()" style="cursor: pointer;">
                <i [ngClass]="isPasswordVisible ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
              </span>
            </div>
          </div>
        </div>
      </form>
      <div class="row btn_function">
        <button class="btn_save" (click)="updatePassword()">Save</button>
    </div>

    <p-dialog [(visible)]="displayConfirmation" [modal]="true" header="Confirm">
        <p>Are you sure you want to change the password?</p>
        <div class="dialog-footer">
          <button (click)="cancelChange()" class="btn_cancel">Cancel</button>
          <button (click)="confirmChangePassword()" class="btn_save">Yes</button>
        </div>
    </p-dialog>
</div>