.label-field {
    display: flex;
    gap: 10px;
    align-items: center;
}

.field {
    width: 10rem !important;
    margin-top: 15px;
}

.required:after {
    content:" *";
    color: red;
}

.error {
    color: red;
}

.dp-hidden {
    width: 0;
    margin: 0;
    border: none;
    padding: 0;
}
.custom-day {
    text-align: center;
    padding: 0.185rem 0.25rem;
    display: inline-block;
    height: 2rem;
    width: 2rem;
}
.custom-day.focused {
    background-color: #e6e6e6;
}
.custom-day.range,
.custom-day:hover {
    background-color: rgb(2, 117, 216);
    color: white;
}
.custom-day.faded {
    background-color: rgba(2, 117, 216, 0.5);
}

/** CSS for Campaign table template */

@import "primeicons/primeicons.css";

::ng-deep .p-datatable-table {
  border: 1px solid #e2e8f0;

  td {
    white-space: nowrap;
  }
}

::ng-deep .p-button-icon-only {
  color: gray !important;
}

::ng-deep .p-checkbox-box {
  background: transparent !important;
}

::ng-deep .p-paginator {
  background: transparent !important;
  color: #231f20 !important;
}

::ng-deep .p-tag {
  color: #231f20 !important;
}

::ng-deep .p-tag-warn {
  background: #ffa280 !important;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted
{
  background-color: transparent !important;
  color: inherit !important;
}

::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted :focus,
::ng-deep .p-datatable-thead > tr > th.p-datatable-column-sorted :hover
{
  background-color: transparent !important;
  color: inherit !important;
}

::ng-deep .p-datatable-thead > tr > th
{
  white-space: nowrap;
  background: transparent !important;
  color: #231f20 !important;
  border-color: #c8c8c8 !important;
  border-bottom-width: 2px !important;
  text-align: center;
  font-size: 14px;
}

::ng-deep .p-datatable-tbody > tr {
  background: transparent !important;
  color: #231f20 !important;
}

::ng-deep .p-datatable-tbody > tr > td {
  border-color: #c8c8c8 !important;
  border-bottom-width: 2px !important;
  font-size: 14px;
}

::ng-deep .p-paginator-page-selected {
  background: #27272a !important;
  color: #e2e8f0 !important;
}

.subCampaignCheckbox {
  bottom: 3px;
  position: relative;
  padding-left: 1rem;
}

.campaignCheckbox {
  bottom: 10px;
  position: relative;
}

::ng-deep th:nth-child(n+5):nth-child(-n+11) {
  position: relative;
}

::ng-deep th:nth-child(n+5):nth-child(-n+11)::after {
  content: "";
  position: absolute;
  top: 25%;   /* Space from the top */
  bottom: 25%; /* Space from the bottom */
  right: 0;
  width: 2px;
  background-color: #c8c8c8; /* Line color */
}

::ng-deep th:nth-child(11)::after {
  content: none;
}

.campaign-outline {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
}

/* For WebKit browsers (Chrome, Safari) */
progress::-webkit-progress-value {
  background-color: #00bfff !important;
  background: #00bfff;
  color: #00bfff;
}
/* For Firefox */
progress::-moz-progress-bar {
  background-color: #00bfff !important;
  background: #00bfff;
  color: #00bfff;
}