@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-REGULAR.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-COND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-CONDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMyriadPro-Light.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-SEMIBOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Semibold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-SEMIBOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-BOLDCOND.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-BOLD.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-BOLDIT.woff') format('woff');
}


@font-face {
    font-family: 'Myriad Pro Bold Condensed Italic';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/fontsMYRIADPRO-BOLDCONDIT.woff') format('woff');
}

body {
    font-family: 'Myriad Pro Regular', sans-serif !important;
    color: #231f20 !important;
}

.icon {
    font-size: 18px;
}